.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.App > * {
  border: 1px solid gray;
  padding: 1rem;
}

ol {
  max-width: 480px;
  min-height: 25vh;
}
